<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mini gamepad 1</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="{{url_for('static', filename='js/controller.js')}}" ></script>
</head>
<body>
    <h1>Mini gamepad 1</h1>


    <!-- <form action='/controller' method='post'>
    <input type='hidden' name='id' value='123456'> -->

<tr>
    <button id="visible" name='visible'  value=''><img src="{{url_for('static', filename='images/visible.png')}}" style="vertical-align: middle" alt = 'image not found' title = '' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="b_up" name='up'  value=''><img src="{{url_for('static', filename='images/up.png')}}" style="vertical-align: middle" alt = 'image not found' title = 'Up' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="visible" name='visible'  value=''><img src="{{url_for('static', filename='images/visible.png')}}" style="vertical-align: middle" alt = 'image not found' title = '' heith = '50' width = '50' hspace = '40' vspace = '0'></button>
    <button id="b_pause" name='pause'  value=''><img src="{{url_for('static', filename='images/circle_button.png')}}" style="vertical-align: middle" alt = 'image not found' title = 'Pause' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="visible" name='visible'  value=''><img src="{{url_for('static', filename='images/visible.png')}}" style="vertical-align: middle" alt = 'image not found' title = '' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <br>
    <button id="b_left" name='left'  value=''><img src="{{url_for('static', filename='images/left.png')}}" style="vertical-align: middle" alt = 'image not found' title = 'LEFT' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="visible" name='visible'  value=''><img src="{{url_for('static', filename='images/visible.png')}}" style="vertical-align: middle" alt = 'image not found' title = '' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="b_right" name='right'  value=''><img src="{{url_for('static', filename='images/right.png')}}" style="vertical-align: middle" alt = 'image not found' title = 'RIGHT' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="visible" name='visible'  value=''><img src="{{url_for('static', filename='images/visible.png')}}" style="vertical-align: middle" alt = 'image not found' title = '' heith = '50' width = '50' hspace = '40' vspace = '0'></button>
    <button id="b_shoot" name='shoot'  value=''><img src="{{url_for('static', filename='images/triangle.png')}}" style="vertical-align: middle" alt = 'image not found' title = 'B' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <br>
    <button id="visible" name='visible'  value=''><img src="{{url_for('static', filename='images/visible.png')}}" style="vertical-align: middle" alt = 'image not found' title = '' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="b_down" name='down'  value=''><img src="{{url_for('static', filename='images/down.png')}}" style="vertical-align: middle" alt = 'image not found' title = 'Down' heith = '50' width = '50' hspace = '0' vspace = '0'></button>
    <button id="visible" name='visible'  value=''><img src="{{url_for('static', filename='images/visible.png')}}" style="vertical-align: middle" alt = 'image not found' title = '' heith = '50' width = '50' hspace = '50' vspace = '0'></button>
    <button id="b_space" name='space'  value='space'><img src="{{url_for('static', filename='images/space.png')}}" style="vertical-align: middle" alt = 'image not found' title = 'Spaces' heith = '100' width = '100' hspace = '0' vspace = '0'></button>

    <td ><input id="none" type='hidden' type='text' name='none' value='0'></td>

    <td ><input id="space" type='hidden' type='text' name='space' value=''></td>
    <td ><input id="shoot" type='hidden' type='text' name='shoot' value=''></td>
    <td ><input id="pause" type='hidden' type='text' name='pause' value=''></td>
    <td ><input id="up" type='hidden' type='text' name='up' value=''></td>
    <td ><input id="down" type='hidden' type='text' name='down' value=''></td>
    <td ><input id="left" type='hidden' type='text' name='left' value=''></td>
    <td ><input id="right" type='hidden' type='text' name='right' value=''></td>
    </tr>

    <div id="message"></div>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class='flash {{cat}}'>{{msg}}</div>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/controller.js')}}" ></script>
    <br>
    <li>Вернуться к большому<b><a href='/gamepad#gamepad_vdk45'> Gamepad 1</a></b>
</body>
</html>