{% extends 'gamepad_base.html' %}
{% block title %}
    {{  super() }}
{% endblock title -%}
{% block content %}
    {{  super() }}
    <h1 align = 'center'>Game pad </h1>
    <p> Содержимое страницы Gamepad </p>

    <p align = 'center'> Gamepad для игр VDK45
    <br> Давайте играть со мой!
    <br> Используя Gamepad </p>

    <p>
    <img src="{{url_for('static', filename='images/square.png')}}" alt = 'image not found'
    title = 'Up' heith = '100' width = '100' hspace = '150' vspace = '0'>
    <img src="{{url_for('static', filename='images/triagle.png')}}" alt = 'image not found'
    title = 'N-Button' heith = '100' width = '100' hspace = '180' vspace = '0'>
    <br> <img src="{{url_for('static', filename='images/square.png')}}" alt = 'image not found'
    title = 'Left' heith = '100' width = '100' hspace = '50' vspace = '0'>
    <img src="{{url_for('static', filename='images/square.png')}}" alt = 'image not found'
    title = 'Right' heith = '100' width = '100' hspace = '40' vspace = '0'>
    <img src="{{url_for('static', filename='images/сircle.png')}}" alt = 'image not found'
    title = 'B-Button' heith = '100' width = '100' hspace = '100' vspace = '0'>
    <img src="{{url_for('static', filename='images/сircle.png')}}" alt = 'image not found'
    title = 'P-Button' heith = '100' width = '100' hspace = '0' vspace = '0'>
    <br> <img src="{{url_for('static', filename='images/square.png')}}" alt = 'image not found'
    title = 'Down' heith = '100' width = '100' hspace = '150' vspace = '0'>
    <img src="{{url_for('static', filename='images/circle_button.png')}}" alt = 'image not found'
    title = 'Spaces-Button' heith = '100' width = '100' hspace = '180' vspace = '0'>
    </p>
{% endblock content %}