{% extends 'gamepad_base.html' %}
{% block title %}
    {{  super() }}
{% endblock title -%}
{% block content %}
<div class="page" >
    <ul class="ccs_main_menu"  align="center" >
    <li><a href='/gamepad#gamepad_vdk45'>К Gamepad VDK45</a>

    </ul>
    {{  super() }}

    <!-- :first-letter Первая буква -->
    <!-- :first-line Первая строка  -->
    <!-- :before Стиль перед элементом -->
    <!-- :after Стиль после элемента -->
</div>
    <style>
    h1:first-letter {color:red;}
    </style>
    <div class="wrapper" >
     <h1 align = 'center'><i>О проекте:</i> <u><b>Gamepad VDK</b></u><sup>45</sup> </h1>

     <li align = 'center' class="css_link" ><a href='https://www.twitch.tv/vdk45' target='_blank'>Мой TWITCH канал </a>
     <li align = 'center' class="css_link" ><a href='https://discord.gg/y9V4Xfn' target='_blank'>Мой DISCORD канал </a>
     <li align = 'center' class="css_link" ><a href='https://steamcommunity.com/id/vdk45' target='_blank'>Мой STEAM профиль </a>
     <li align = 'center' class="css_link" ><a href='mailto:vdk45blg@gmail.com'>Написать мне</a>

     <ul class = "reg_list">    <!-- class идентификатор для css -->

     <p>Во время стрима вы можете играть в мини игры прямо в браузере используя <br> <b><a href='/gamepad#gamepad_vdk45'>Gamepad VDK45</a></b>
     <br>Если вы используете телефон то желательно в вертикальном режиме
     <br>Также вы можете скачать <br> <b> <a href='https://cloud.mail.ru/public/VX9G/PwVvRWGoF' target='_blank'>VDK_controller.exe Для Windows 10 </a></b>
     <br>Играя на VDK_controller.exe вы можете прямо из клавиатуры в браузере нет

     </p>
    </ul>
    <!-- Пример:
    <style>
        h2:before {content: '('; color: gray; font-size: 50px;}
        h2:after {content: ')'; color: gray; font-size: 50px;}
    </style>
    -->

    <div id="reg_form" >                                 <!-- id уникальный идентификатор для css -->
    <h2><i>Go к нам!</i></h2>

     <form action='/register' method='post'>
     <input type='hidden' name='id' value='123456'>

     <table>                                             <!-- <table  border=5> Рамка = 5px -->

      <tr><td>Ваш любимый класс: </td>                      <!-- tr новая линия -->
        <td>
        <select name='class' class = "css_select">
        <option value= '1'>Скаут</option>
        <option value= '2'>Солдат</option>
        <option value= '3'>Пиро</option>
        <option value= '4'>Подрывник</option>
        <option value= '5'>Пулеметчик</option>
        <option value= '6'>Инженер</option>
        <option value= '7'>Медик</option>
        <option value= '8'>Снайпер</option>
        <option value= '9'>Шпион</option>
        </select>
        </td>
     </tr>
     <tr><td class = "css_form" >Ваш ник: </td>
         <td ><input class = "css_input" type='text' name='fio' value=''></td></tr>
     <tr><td class = "css_form" >Пароль: </td>
        <td ><input class = "css_input"  type='password' name='pass' value=''></td></tr>

     <tr><td colspan='2'>
        <textarea cols=40 rows=5 name='text' maxlength=150> Немного о себе:
        </textarea>
     </td></tr>

     <tr><td class="css_sex">Пол: </td>
         <td class="css_sex"><input  type='radio' name='sex' value='1' checked> Муж
         <input type='radio' name='sex' value='2'>  Жен </td>
     </tr>

     <tr><td colspan='2' class = "css_agree">  <!-- colspan='2' занимает 2 столбца -->
        <p><input  type='checkbox' name='agree' checked> Регистрируясь, вы принимаете пользовательское соглашение</p>

     </td></tr>

     <tr><td><input  class="css_button" type='submit' value='Зарегиться'></td><td><input class="css_button" type='reset' value='Отчистить форму'></td></tr>

     </table>
     {% for cat_form, msg_form in get_flashed_messages(True) %}
    <div class='flash {{cat_form}}'>{{msg_form}}</div>

    {% endfor %}
     </form>
     </div>
     </div>
    <br>
    <br>Игры, VDK_controller.exe и сайт написаны на <b>PYTHON</b> + <b>HTML</b> и <b>CSS</b>.
    <br>План  на будущее:
    <br>Добавить анонимный чат
    <br>Доделать регистрацию
    <br>Хочу научиться на <b>Андройд </b> разрабочика!
{% endblock content %}
