{% extends 'gamepad_base.html' %}
{% block title %}
    {{  super() }}
{% endblock title -%}
{% block content %}
    <li><a href='/gamepad'>Go to Gamepad VDK45</a>
    {{  super() }}
     <h1 align = 'center'><i>О проекте:</i> <u><b>Gamepad VDK</b></u><sup>45</sup> </h1>
     <li align = 'center'><a href='https://www.twitch.tv/vdk45'>Мой TWITCH канал </a>
     <li align = 'center'><a href='https://discord.gg/y9V4Xfn'>Мой DISCORD канал </a>
     <li align = 'center'><a href='https://steamcommunity.com/id/vdk45'>Мой STEAM профиль </a>
     <li align = 'center'><a href='mailto:vdk45blg@gmail.com'>Написать мне</a>
     <p>Хочу создать игры для стрима и чтобы зрители играли прямо из браузера.
     <br>Даже не знаю получится или нет но получилось <a href='https://cloud.mail.ru/public/VX9G/PwVvRWGoF'>VDK_controller.exe Для Windows 10 </a>
     <br>Пока мало опыта но есть желание. Буду рад любой помощи!
     <br>Владею <b>PYTHON</b> <b>MYSQL</b>.
     <br>Учусь <b>HTML</b> и <b>CSS</b>.
     <br>Хочу научиться на <b>Андройд </b> разрабочика!
     </p>
{% endblock content %}