<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title -%}
    {% if title %}
        <title>{{ title }} VDK45</title>
    {% else %}
        <title>VDK45 gamepad</title>
    {% endif %}
    {% endblock %}

</head>
<body>
    {% block content -%}
        {% block mainmenu -%}
    <u1>
        <li><a href='https://www.twitch.tv/vdk45'>Мой TWITCH канал </a>
        <li><a href='https://cloud.mail.ru/public/VX9G/PwVvRWGoF'>Gamepad.exe Для Windows 10 </a>
        <li><a href='mailto:vdk45blg@gmail.com'>Обратная связь</a>
    </u1>
        {% endblock mainmenu -%}
    {% endblock content %}
    <hr align = 'center' color='black' size=7 width='90%' Noshade>
    <p> &copy;Все права защищены!
</body>
</html>